*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

header{
    height: 75px;
}

#logo{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 80px;
    margin-top: 10px;
    margin-left: 30px;
}

#title{
    display: inline-block;
    width: 200px;
    height: 100px;
    font-family: 'Roboto', sans-serif;
}

/*main*/

main{
    background-color: rgb(216, 230, 230);
    padding: 40px;
}

.conteiner{
    width: 500px;
    height: 700px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    border-radius: 10px;
}